.bg{
    background: #0b131e;
    height: 100%;
}

.styles{
    width: 90%;
    border-radius: 20px;
    color:white;
    padding: 10px;
    margin-top: 10px;
    background-color: #202b3b;
}

.styles:hover{
    opacity: 0.7;
}

.iconStyles{
    width: 100px;
    height: 100px;
}

.cityName{
    font-weight: bold;
    color:rgba(255,255,255,0.7);
    font-size: 25px;
    margin-bottom: 5px;
    padding-top: 4px;
    
}


.tempStyles{
    font-size: 30px;
    line-height: 100px;    
}

/* @media screen and (max-width: 600px) {

} */

@media screen and (min-width: 992px) {
    .disappear{
        display: none;
    }
}