.styles{
    background-color: #202b3b;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.4);
    margin-top: 15px;
    width: 100%;
    padding: 10px;
}
.temperatureStyles{
    font-size: 20px;
    color: white;
}
.DFlex{
    display: flex;
    justify-content:space-between ;
}
.data{
    font-weight: bold;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
}
.iconStyles{
    font-size: 20px;
    text-align: center;
    /* padding-top: 5px;     */
    margin-top: 5px;
}